doctype html
html(lang="pt")
  include includes/rmc-head.jade
  body
    include includes/rmc-nav.jade
    include includes/rmc-home.jade
    include includes/rmc-programacao.jade
    include includes/rmc-ofestival.jade
    //include includes/rmc-inscricoes.jade
    include includes/rmc-espacos.jade
    include includes/rmc-contato.jade
