section#inscricoes
  h1(data-l10n-ac='rmcIndexInscricoes1')
  h2(data-l10n-ac='rmcIndexInscricoes2')
  
  .campos-incricoes
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel1')
        .photo-upload 
          input#uploadfile(type="file")
          #photo-container
          #camera-icon(data-fa-ac='camera')
          input(value='', id='rmc-photo' type='hidden')

    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel2')
        input(value="", id="rmc-nome", maxlength="100", type="text")
    
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel3')
        input(value="", id="rmc-tipo", maxlength="50", type="text", placeholder="ex: banda/coreografia/fotografia")
        
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel4')
        input(value="", id="rmc-genero", maxlength="50", type="text", placeholder="ex: pop/rock")
        
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel5')
        input(value="", id="rmc-integrantes", maxlength="2", type="number",  min="1", max="50")
      
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel6')
        input(value="", id="rmc-responsavel", maxlength="200", type="text")
      
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel7')
        input(value="", id="rmc-doc", maxlength="15", type="tel")
    
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel8')
        input(value="", id="rmc-facebook", maxlength="200", type="url")
        
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel9')
        input(value="", id="rmc-email", maxlength="100", type="email")
    
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel10')
        input(value="", id="rmc-telefone", maxlength="15", type="tel")
    
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel11')
        input(value="", id="rmc-endereco", maxlength="200", type="text")
    
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel12')
        input(value="", id="rmc-cidade", maxlength="100", type="text")
        
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel13')
        input(value="", id="rmc-estado", maxlength="2", type="text")
      
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel14')
        textarea(value="", id="rmc-descricao", maxlength="500", rows="8")
        
    span.input-group
      span.input-item
        label(data-l10n-ac='rmcIndexInscricoesLabel15')
        input(value="", id="rmc-youtube", maxlength="100", type="url")

    button#send-form.button.button--full-color.button--super-width.noclick(data-l10n-ac='rmcIndexInscricoesButton1')
