section#espacos
  mixin line(icon, l10n)
    li
      .flex-content(data-fa-ac=icon, data-l10n-ac=l10n)

  ul
    +line('music', 'rmcIndexEspacosItem1')
    +line('tint', 'rmcIndexEspacosItem8')
    +line('book', 'rmcIndexEspacosItem3')
    +line('child', 'rmcIndexEspacosItem4')
    +line('heart', 'rmcIndexEspacosItem5')
    