section#ofestival
  .texto-festival
    img(src='design/logo-meunomeejao.svg')
    h1(data-l10n-ac='rmcIndexFestival')
    h2(data-l10n-ac='rmcIndexFestival2')
    p(data-l10n-ac='rmcIndexFestivalTexto')

    #patrocinadores
        .flex-content
            h2(data-l10n-ac='rmcIndexPatrocinadores1')
            .top-content
                a(href='http://www.s1x.com.br', target='_blank')
                    img(src='design/mnej-patrocinadores-09.png')

                a(href='http://www.shoppingfernandopolis.com.br', target='_blank')
                    img(src='design/mnej-patrocinadores-08.png', width='200')

                a(href='http://www.fernandopolis.sp.gov.br', target='_blank')
                    img(src='design/mnej-patrocinadores-05.png', width='140')
                a(href='http://www.fernandopolis.sp.gov.br', target='_blank')
                    img(src='design/mnej-patrocinadores-10.png', width='90')
                br
                a(href='http://www.senac.br/', target='_blank')
                    img(src='design/mnej-patrocinadores-17.png', width='110')
                a(href='http://www.poiesis.org.br/', target='_blank')
                    img(src='design/mnej-patrocinadores-18.png')
                a(href='http://www.oficinasculturais.org.br/projeto-ademar/', target='_blank')
                    img(src='design/mnej-patrocinadores-19.png')
                a(href='http://www.oficinasculturais.org.br/', target='_blank')
                    img(src='design/mnej-patrocinadores-20.png')
                a(href='http://www.saopaulo.sp.gov.br/', target='_blank')
                    img(src='design/mnej-patrocinadores-21.png')
                br
                a
                    img(src='design/mnej-patrocinadores-16.png')
                a
                    img(src='design/mnej-patrocinadores-15.png', width='120')
                a
                    img(src='design/mnej-patrocinadores-14.png', width='140')
                br
                a
                    img(src='design/mnej-patrocinadores-13.png', width='140')
                a
                    img(src='design/mnej-patrocinadores-12.png', width='130')
                a
                    img(src='design/mnej-patrocinadores-11.png', width='140')

                a(href='http://www.facebook.com/setecenter199', target='_blank')
                    img(src='design/mnej-patrocinadores-04.png')

                a(href='http://www.facebook.com/EMSantaCecilia', target='_blank')
                    img(src='design/mnej-patrocinadores-07.png')

            h2(data-l10n-ac='rmcIndexPatrocinadores2')
            .bottom-content
                a(href='http://www.jornal4cantos.com.br', target='_blank')
                    img(src='design/mnej-patrocinadores-02.png')
                a(href='http://www.jornaldoesporte.com.br', target='_blank')
                    img(src='design/mnej-patrocinadores-03.png')
                a(href='http://www.editoraferjal.com.br', target='_blank')
                    img(src='design/mnej-patrocinadores-06.png')
                br
                a(href='http://www.cidadaonet.com.br', target='_blank')
                    img(src='design/mnej-patrocinadores-01.png')
                a(href='http://www.oextra.net', target='_blank')
                    img(src='design/mnej-patrocinadores-22.png')

    a.button.button--full-white.button--super-width(href='#contato', data-l10n-ac='rmcIndexPatrocinadores3')
