nav.nav--close
  a(href='#home')
    img.nav-logo(src='design/mozilla_wordmark.png')
  span.nav
    span#nav-icon(data-fa-ac='bars')

    mixin line(link, l10n)
      li
        a(href=link, data-l10n-ac=l10n)

    ul
      +line('#home', 'rmcNavItem11')
      +line('#ofestival', 'rmcNavItem1')
      +line('#mapa', 'rmcNavItem9')
      +line('#programacao', 'rmcNavItem12')
      +line('#patrocinadores', 'rmcNavItem10')
      +line('#espacos', 'rmcNavItem3')
      +line('#contato', 'rmcNavItem8')
