section#programacao
  .programacao-festival
    h1(data-l10n-ac='rmcIndexProgramacao')
    h2(data-l10n-ac='rmcIndexProgramacao2')
    .tabela
        h2 11:00 - 12:00
        .linha
            .coluna-esquerda 11:00
            .coluna-meio Abertura do Evento
            .coluna-direita Palestra de abertura do evento explicando o projeto e o festival.

        h2 12:00 - 13:00
        .linha
            .coluna-esquerda 12:00
            .coluna-meio Lanche
            .coluna-direita Forrar a barriga para começar bem o dia!

        h2 13:00 - 14:00
        .linha
            .coluna-esquerda 13:00
            .coluna-meio Criação de Fanzine
            .coluna-direita Oficina de criação de fanzines
        .linha
            .coluna-esquerda 13:00
            .coluna-meio Desenvolvimento de jogos
            .coluna-direita Experimentação com desenvolvimento de jogos utilizando o Construct 2

        .linha
            .coluna-esquerda 13:00
            .coluna-meio Conversa
            .coluna-direita Como a Internet é uma ferramenta poderosa para a educação.

        h2 14:00 - 15:00
        .linha
            .coluna-esquerda 14:00
            .coluna-meio Criação de camisas e ecobags
            .coluna-direita Oficina de criação de camisas e ecobags usando stencil
        .linha
            .coluna-esquerda 14:00
            .coluna-meio Criação de posters e memes
            .coluna-direita Criando posters e memes na internet com HTML5

        .linha
            .coluna-esquerda 14:00
            .coluna-meio Conversa
            .coluna-direita A Importância das LAN Houses para a Internet Brasileira.


        h2 15:00 - 16:00
        .linha
            .coluna-esquerda 15:00
            .coluna-meio Criação de Fanzine
            .coluna-direita Oficina de criação de fanzines
        .linha
            .coluna-esquerda 15:00
            .coluna-meio Experimentação com Internet das Coisas
            .coluna-direita Experimentação com Internet das Coisas (Sam Labs)

        .linha
            .coluna-esquerda 15:00
            .coluna-meio Experimentação com Internet das Coisas
            .coluna-direita Experimentação com Internet das Coisas (Little Bits).

        h2 16:00 - 17:00
        .linha
            .coluna-esquerda 16:00
            .coluna-meio Mais Comida!!!
            .coluna-direita Um lanche para reforçar nossas energias

        h2 17:00 - 18:00
        .linha
            .coluna-esquerda 17:00
            .coluna-meio Privacidade & Criptografia
            .coluna-direita Aprenda mais sobre privacidade online e como a criptografia é importante.
        .linha
            .coluna-esquerda 17:00
            .coluna-meio Blog
            .coluna-direita Venha aprender a criar blogs

        .linha
            .coluna-esquerda 17:00
            .coluna-meio Conversa
            .coluna-direita Como a Internet é uma ferramenta poderosa para a educação.

        h2 18:00 - 19:00
        .linha
            .coluna-esquerda 18:00
            .coluna-meio Encerramento
            .coluna-direita Palestra de encerramento e evento social