section#espacos
  mixin line(icon, l10n)
    li
      .flex-content(data-fa-ac=icon, data-l10n-ac=l10n)

  ul
    +line('music', 'rmcIndexEspacosItem1')
    +line('tint', 'rmcIndexEspacosItem8')
    +line('book', 'rmcIndexEspacosItem3')
    +line('child', 'rmcIndexEspacosItem4')
    +line('camera', 'rmcIndexEspacosItem5')
    
  mixin line(icon, l10n)
    li
      .flex-content(data-fa-ac=icon, data-l10n-ac=l10n)

  ul
    +line('puzzle-piece', 'rmcIndexEspacosItem6')
    +line('smile-o', 'rmcIndexEspacosItem7')
    +line('music', 'rmcIndexEspacosItem2')
    +line('fort-awesome', 'rmcIndexEspacosItem9')
    +line('heart', 'rmcIndexEspacosItem10')
  
