section#programacao
  .programacao-festival
    h1(data-l10n-ac='rmcIndexProgramacao')
    h2(data-l10n-ac='rmcIndexProgramacao2')
    .tabela
        h2 Atividades Online
        .linha
            .coluna-esquerda 10h00
            .coluna-meio Praça da Aparecida
            .coluna-direita Espetáculo de dança “Aos que Aqui Estão”, da Rio Preto Cia de Dança
        .linha
            .coluna-esquerda 14h00
            .coluna-meio Secretaria de Esporte
            .coluna-direita Workshop com Rio Preto Cia de Dança
        .linha
            .coluna-esquerda 19h00
            .coluna-meio Teatro Municipal
            .coluna-direita Cia Assim de Repente, de Fernandópolis, apresenta a performance “Meu Corpo”
        .linha
            .coluna-esquerda 20h00
            .coluna-meio Teatro Municipal
            .coluna-direita Espetáculo “Alma Aprisionada”, da Rio Preto Cia de Dança

        h2 Atividade
        .linha
            .coluna-esquerda 10h00
            .coluna-meio Teatro Municipal
            .coluna-direita Espetáculo “O Lugar de Onde se Vê”, apresentado pela Cia Ouro Velho de São Paulo
        .linha
            .coluna-esquerda 15h00
            .coluna-meio Teatro Municipal
            .coluna-direita Espetáculo “O Lugar de Onde se Vê”, apresentado pela Cia Ouro Velho de São Paulo
        .linha
            .coluna-esquerda 16h30
            .coluna-meio Teatro Municipal
            .coluna-direita Oficina de iniciação teatral Cia Ouro Velho de São Paulo

        h2 quarta-feira, 22
        .linha
            .coluna-esquerda 19h00
            .coluna-meio Teatro Municipal
            .coluna-direita Cia Assim de Repente apresenta a performance “Gêneros”
        .linha
            .coluna-esquerda 20h00
            .coluna-meio Teatro Municipal
            .coluna-direita Cia Cid Chagas de Pereira Barreto apresenta o espetáculo “Os Inventariantes”

        h2 quinta-feira, 23
        .linha
            .coluna-esquerda 15h30
            .coluna-meio Secretaria de Esporte
            .coluna-direita Workshop para atores com o professor Thiago Nascimento, de Araçatuba
        .linha
            .coluna-esquerda 19h00
            .coluna-meio Teatro Municipal
            .coluna-direita Performance “Jantar em Família”, apresentada pela Cia Assim de Repente
        .linha
            .coluna-esquerda 20h00
            .coluna-meio Teatro Municipal
            .coluna-direita Espetáculo “Metamorfose Ambulante”, do Senac de Araçatuba
