section#home
  .carousel
    .cut-carousel
      .cut-img(id='1', src='design/blank.png', style='background-image: url("img/jao1.jpg");')
      .cut-img(id='2', src='design/blank.png', style='background-image: url("img/jao2.jpg");')
      .cut-img(id='3', src='design/blank.png', style='background-image: url("img/jao3.jpg");')
      .cut-img(id='4', src='design/blank.png', style='background-image: url("img/jao4.jpg");')
      .cut-img(id='5', src='design/blank.png', style='background-image: url("img/jao5.jpg");')
      .cut-img(id='6', src='design/blank.png', style='background-image: url("img/jao6.jpg");')
      .cut-img(id='7', src='design/blank.png', style='background-image: url("img/jao7.jpg");')
      .cut-img(id='8', src='design/blank.png', style='background-image: url("img/jao8.jpg");')
      .cut-img(id='9', src='design/blank.png', style='background-image: url("img/jao9.jpg");')
      .cut-img(id='10', src='design/blank.png', style='background-image: url("img/jao10.jpg");')

  .flex-content
    .top-content
      a#button-inscricoes.button.button--full-white.button--super-width(href='#programacao', data-l10n-ac='rmcIndexCapaProgramacao')
      a.button.button--full-color.button--big-icon(href='//www.fb.com/somostodosjao', target='_blank', data-fa-ac='facebook')
      a.button.button--full-color.button--big-icon(href='//www.twitter.com/somostodosjao', target='_blank', data-fa-ac='twitter')
      a.button.button--full-color.button--big-icon(href='//www.instagram.com/somostodosjao', target='_blank', data-fa-ac='instagram')
      a.button.button--full-color.button--big-icon(href='//spoti.fi/1OJnr7y', target='_blank', data-fa-ac='spotify')

    .middle-content
      span#move-carousel-left(data-fa-ac='angle-left')

      span.home-logo
        img(src='design/logo-somostodosjao.svg')
        hr
        span(data-l10n-ac='rmcGeralSlogan')

      span#move-carousel-right(data-fa-ac='angle-right')

    .bottom-content
      a(href='#programacao', data-fa-ac='angle-down')
