section#facilitadores
  .texto-facilitadores
    img(src='design/logo_riowebfest.svg', width='500')
    :markdown
        # Facilitadores
        ## Nos ajude a multiplicar conhecimento no Rio Web Fest
        O <b>Rio Web Fest</b> acontece no dia <b>31 de Julho de 2016</b> e é uma celebração de um ano de trabalho no nosso projeto onde juntaremos os nossos participantes em um grande dia de experimentação tecnológica e criação. Iremos fazer arte, construir jogos, discutir a importância da Internet, aprender sobre a Internet das Coisas e muito mais.

        Para o evento fluir bem precisamos de facilitadores para ajudar nossas atividades. Quanto mais facilitadores presentes no evento, mais legal fica e mais coisas conseguimos produzir. Nossa ideia é que os facilitadores se envolvam com uma ou duas atividades, os facilitadores também podem participar de outras atividades também.

        # Atividades
        ## Essas são as atividades planejadas

        ### CRIAÇÃO DE FANZINES

        Vamos ajudar os participantes a criar fanzines sobre seus assuntos favoritos. Cada participante sairá da atividade com cinco cópias do seu fanzine. [Saiba mais sobre a atividade de criação de fanzines](https://github.com/RioMozillaClub/rio-web-fest/issues/5).

        ### CRIAÇÃO DE ECOBAGS E CAMISETAS

        Utilizando técnicas de pintura com <i>stencil</i> vamos personalizar as ecobags do evento e algumas camisas. Declare o seu amor pela Web e o mundo digital através de uma arte única. [Saiba mais sobre a atividade de criação de ecobags e camisetas](https://github.com/RioMozillaClub/rio-web-fest/issues/6).

        ### CRIAÇÃO DE MEMES E POSTERS

        Vamos utilizar o <a href='https://thimble.mozilla.org'>Mozilla Thimble</a> para criar <a href='https://thimbleprojects.org/andregarzia/88480/'>posters de filme</a> e <a href='https://thimbleprojects.org/andregarzia/88481'>memes</a>. [Saiba mais sobre a atividade de criação de memes e posters](https://github.com/RioMozillaClub/rio-web-fest/issues/7).

        ### INTERNET DAS COISAS

        Utilizando <i>[Little Bits](http://littlebits.cc/)</i> e outros módulos eletrônicos vamos realizar pequenos projetos e experimentações com a <b>Internet das Coisas</b>. [Saiba mais sobre a atividade de Internet das Coisas](https://github.com/RioMozillaClub/rio-web-fest/issues/8).

        ### CRIPTOGRAFIA & SEGURANÇA

        Vamos conversar e ter atividades práticas sobre **criptografia** e **segurança**, incluíndo variações sobre o nosso jogo do lobo mau. [Saiba mais sobre a atividade de criptografia e segurança](https://github.com/RioMozillaClub/rio-web-fest/issues/9).

        ### EDIÇÃO DE VIDEO

        Quer se tornar a próxima estrela do YouTube? Vamos ensinar as pessoas a editar videos com ferramentas gratuitas. [Saiba mais sobre a atividade de edição de videos](https://github.com/RioMozillaClub/rio-web-fest/issues/10).

        ### BLOG

        Sempre quis ter um blog e não sabe como? Vamos ensinar nossos participantes a criar e utilizar plataformas como [Tumblr](http://tumblr.com) e [Wordpress](http://wordpress.com). [Saiba mais sobre a atividade de criação de blogs](https://github.com/RioMozillaClub/rio-web-fest/issues/11).

        # Como Ajudar
        ## O que fazer agora?
        Se você quiser participar do nosso evento como **facilitador**, entre em contato com a gente utilizando os links presente nas descrições de cada atividade. Entre no link da atividade que você deseja ajudar e deixe um comentário.
