section#spotify
  .flex-content
    .left-content
      h1(data-l10n-ac='rmcIndexSpotify')
      
    .right-content
      p Para quem nunca ouviu falar do Spotify, a gente explica: É um aplicativo para todos os windows/mac/ios/android e web que toca a música que você quer, quando você quer, simples assim. Você só precisar acessar o site do app pela web ou baixá-lo em seu smartphone/tablet, e com ele é possível até criar suas playlists com as músicas que você mais ama! Não é incrível?!
        | E como não poderíamos ficar para traz, o Evento Cultural "Meu Nome é Jão" criou uma playlist para vocês curtirem enquanto esperam pelo festival o/
        | Para acessar a playlist acessem/procurem por... *ou outra palavra pq não sei como é a parada de acessar*
