section#home
  .carousel
    .cut-carousel
      .cut-img(id='1', src='design/blank.png', style='background-image: url("img/rmc1.jpg");')
      .cut-img(id='2', src='design/blank.png', style='background-image: url("img/rmc2.jpg");')
      .cut-img(id='3', src='design/blank.png', style='background-image: url("img/rmc3.jpg");')
      .cut-img(id='4', src='design/blank.png', style='background-image: url("img/rmc4.jpg");')
      .cut-img(id='5', src='design/blank.png', style='background-image: url("img/rmc5.jpg");')
      .cut-img(id='6', src='design/blank.png', style='background-image: url("img/rmc6.jpg");')
      .cut-img(id='7', src='design/blank.png', style='background-image: url("img/rmc7.jpg");')
      .cut-img(id='8', src='design/blank.png', style='background-image: url("img/rmc8.jpg");')
      .cut-img(id='9', src='design/blank.png', style='background-image: url("img/rmc9.jpg");')
      .cut-img(id='10', src='design/blank.png', style='background-image: url("img/rmc10.jpg");')

  .flex-content
    .top-content
      a#button-inscricoes.button.button--full-white.button--super-width(href='#programacao', data-l10n-ac='rmcIndexCapaProgramacao')
      a.button.button--full-color.button--big-icon(href='//www.fb.com/groups/riomozillaclub', target='_blank', data-fa-ac='facebook')
      a.button.button--full-color.button--big-icon(href='//www.twitter.com/riomozillaclub', target='_blank', data-fa-ac='twitter')

    .middle-content
      span#move-carousel-left(data-fa-ac='angle-left')

      span.home-logo
        img(src='design/rwb.svg', width='400' )
        hr
        span(data-l10n-ac='rmcGeralSlogan')

      span#move-carousel-right(data-fa-ac='angle-right')

    .bottom-content
      a(href='#ofestival', data-fa-ac='angle-down')
