section#contato
  .logo-jao
  span(data-l10n-ac='rmcIndexContatoSubtitle')
  
  .socialmedia-jao
    a.button.button--full-color.button--big-icon(href='//www.fb.com/groups/riomozillaclub', target='_blank', data-fa-ac='facebook')
    a.button.button--full-color.button--big-icon(href='//www.twitter.com/riomozillaclub', target='_blank', data-fa-ac='twitter')
  
  .organizacao-jao
    .nome
      span(data-l10n-ac='rmcIndexContatoLuiguiNome')
      span(data-l10n-ac='rmcIndexContatoLuiguiEmail')
    
    .nome
      span(data-l10n-ac='rmcIndexContatoAndreNome')
      span(data-l10n-ac='rmcIndexContatoAndreEmail')
