section#ofestival
  .texto-festival
    img(src='design/logo_riowebfest.svg', width='500')
    h1(data-l10n-ac='rmcFacilitadores')
    h2(data-l10n-ac='rmcFacilitadores2')
    p(data-l10n-ac='rmcFacilitadoresTexto')
