section#ofestival
  .texto-festival
    img(src='design/riomozillaclub.png')
    h1(data-l10n-ac='rmcIndexFestival')
    h2(data-l10n-ac='rmcIndexFestival2')
    p(data-l10n-ac='rmcIndexFestivalTexto')

    #patrocinadores
        .flex-content
            h2(data-l10n-ac='rmcIndexPatrocinadores1')
            .top-content
                a(href='http://riomozillaclub.org', target='_blank')
                    img(src='design/riomozillaclub.png', height='200')

                a(href='http://mozilla.org', target='_blank')
                    img(src='design/mozilla_wordmark.png', width='200')

                a(href='http://mozillabrasil.org.br', target='_blank')
                    img(src='design/mozbrlogo.png', height='140')

    a.button.button--full-white.button--super-width(href='#contato', data-l10n-ac='rmcIndexPatrocinadores3')
