section#contato
  .logo-jao
  span(data-l10n-ac='rmcIndexContatoSubtitle')
  
  .socialmedia-jao
    a.button.button--full-color.button--big-icon(href='//www.fb.com/somostodosjao', target='_blank', data-fa-ac='facebook')
    a.button.button--full-color.button--big-icon(href='//www.twitter.com/somostodosjao', target='_blank', data-fa-ac='twitter')
    a.button.button--full-color.button--big-icon(href='//www.instagram.com/somostodosjao', target='_blank', data-fa-ac='instagram')
  
  .organizacao-jao
    .nome
      span(data-l10n-ac='rmcIndexContatoLuiguiNome')
      span(data-l10n-ac='rmcIndexContatoLuiguiEmail')
    
    .nome
      span(data-l10n-ac='rmcIndexContatoGustavoNome')
      span(data-l10n-ac='rmcIndexContatoGustavoEmail')
